body{
    background-color: black;
}
h1{
    color:#00FF78;
    text-align: center;
}
p{
	color: aqua;
	font-size: 25px;
}
th{
	color: #ffe600;
	font-size: 45px;
}
td{
    color: crimson;
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;

}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: hidden;
  float: right;
}

.icon-bar a {
  text-align: center;
  padding: 12px 14px ;
  transition: all 0.1s ease;
  color: white;
  font-size: 36px;
  text-decoration: none;
  
  
}

.icon-bar a:hover {
  background-color: #000;
}

#giris_butonu{
	background-color: #65d398;
	width: 50%;
	height: 60px;
	font-size: x-large;
}
#giris_butonu:hover{
	background-color: rgb(6, 252, 199)
	
}